{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"complexity": 0,
		"id-length": 0,
		"multiline-comment-style": "off",
		"new-cap": ["error", {
			"capIsNewExceptions": [
				"GetIntrinsic",
			],
		}],
	},

	"overrides": [
		{
			"files": "test/**",
			"rules": {
				"max-lines-per-function": "off",
			},
		},
	],
}
